<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Calculadora de Nómina</h1>
        <p>Seleccione una opción para continuar:</p>

        <div class="button-container">
            <button onclick="location.href='/buscar'">Buscar en Base de Datos</button>
            <button onclick="location.href='/calcular-nomina'">Calcular Nómina</button>
        </div>
    </div>
</body>
</html>
